# Infrastructure Security
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.pem
tfplan.bin

# Environment & Private Keys
.env
.env.local
secret.txt
*.key

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Web Assets
node_modules/
dist/
build/
